<!-- Adding css3 animations to bootstrap carousel slider -->

<div class="container">
<div class="row">

    <div id="carousel-example-generic" class="carousel slide carousel-fade carousel-animate carousel-bg" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="background-image: url(./assets/images/home-page-slider/3-steelcase-office-furniture-solutions.jpg);">
                <div class="carousel-caption">
                   <div class="hero">
                        <hgroup class="zoomInDown animated">
                            <h1 class="fadeInLeft animated">One</h1>
                            <h3 class="slideInRight animated">Get start your next awesome project</h3>
                        </hgroup>
                        <button class="btn btn-hero btn-lg bounceInUp animated" role="button">See all features</button>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url(https://unsplash.it/1240/530?image=545);">
                <div class="carousel-caption">
                    <div class="hero fadeInUp animated">
                        <hgroup>
                            <h1>Two</h1>
                            <h3>Get start your next awesome project</h3>
                        </hgroup>
                        <button class="btn btn-hero btn-lg zoomIn animated" role="button">See all features</button>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url(https://unsplash.it/1240/530?image=673);">
                <div class="carousel-caption">
                    <div class="hero rollIn animated">
                        <hgroup class="rotateInDownRight animated">
                            <h1>Three</h1>
                            <h3>Get start your next awesome project</h3>
                        </hgroup>
                        <button class="btn btn-hero btn-lg" role="button">See all features</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <section class="details">
        <h1>Animation in Bootstrap Slider</h1>
        <br>
        <a href="http://thecodeblock.com/adding-css3-animations-to-bootstrap-carousel-slider" class="fa fa-arrow-left btn btn-lg btn-primary"> Back to article</a>
    </section>
</div>
</div>
<!-- end of adding css3 animations to bootstrap carousel slider -->
