<section class="regular">
	<div class="container-fluid centered">
		<div class="block">
			<h5 class="orange bold">{{ sub-title }}</h5>
			<p>{{ top_image_caption }}</p>
		</div>
		<hr>
		<div class="col">
			{{ assets:myimages }}
				<a class="example-image-link" href="{{ glide:url width="552" height="552" fit="crop" }}" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard.">
					<img class="example-image" src="{{ glide:url width="250" height="250" }}" alt="" />
				</a>
			{{ /assets:myimages }}
		</div>
	</div>
</section>
