<div class="container">
  <div class="row">
    <!--Ik gebruik hieronder alleen het middiv omdat dat de enige info is die ik wil vervangen-->
    <div class="col-md-12" id="middiv"><!-- style="background-color: rgba(255, 255, 255, 0.1)"-->
      <div id="myCarousel" class="carousel slide" data-ride="carousel" align="center">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/img/slideshow/black-bear-cubs.jpg" alt="Los Angeles" style="width:80%;">
          </div>

          <div class="carousel-item">
            <img src="/assets/img/slideshow/dangle.jpg" alt="Chicago" style="width:80%;">
          </div>

          <div class="carousel-item">
            <img src="/assets/img/slideshow/desert.jpg" alt="New york" style="width:80%;">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

        <!-- Indicators -->
        <ol class="carousel-indicators list-inline">
          <li class="list-inline-item active">
            <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
              <img src="/assets/img/slideshow/black-bear-cubs.jpg" class="img-fluid">
            </a>
          </li>

          <li class="list-inline-item">
            <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
              <img src="/assets/img/slideshow/dangle.jpg" class="img-fluid">
            </a>
          </li>

          <li class="list-inline-item">
            <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
              <img src="/assets/img/slideshow/desert.jpg"  class="img-fluid">
            </a>
          </li>
         </ol>
      </div>
    </div>
  </div>
</div>
