<section class="regular">
	<div class="container-fluid centered">
		<div class="block">
		    <div class="row">
		        <div class="col">
					{{ assets:topimage }}
		            <img src="{{ glide:url q="75" fm="jpg" }}" class="large-image" />
					{{ /assets:topimage }}
		        </div>
		    </div>
		</div>
		<div class="block">
			<h4 class="orange bold">{{ title }}</h4>
			<p>{{ top-image-caption }}</p>
		</div>
		<hr>
		<div class="row">
		    <div class="card-deck">
				{{ collection:facility }}
			        <div class="card">
						<a class="example-image-link" href="{{ photo }}" width="552" height="552" fit="crop" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard.">
					    	<img class="example-image card-img-top" src="{{ glide:photo q="75" fm="jpg" }}" width="270" height="150" fit="crop" alt="Card image cap" />
						</a>
				        <div class="card-block">
				            <h5 class="dgreen bold card-title">{{ title }}</h5>
				            <p class="card-text">{{ blurb }}</p>
							<a href="{{ link }}"><span class="dgreen">More Pictures</span></a>
				        </div>
			        </div>
			    {{ /collection:facility }}
		    </div>
		</div>
	</div>
</section>
