<!--<section class="regular">
	<div class="container-fluid centered">
		<div class="block">
		    <div class="row">
		        <div class="col">
					{{ assets:topimage }}
		            <img src="{{ glide:url }}" class="large-image" />
					{{ /assets:topimage }}
		        </div>
		    </div>
		</div>
		<div class="block">
			<h5 class="orange bold">{{ title }}</h5>
			<p>{{ top-image-caption }}</p>
		</div>
		<hr>
		<div class="col">
			{{ assets:myimages }}
				<a class="example-image-link" href="{{ glide:url width="552" height="552" fit="crop" }}" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard.">
					<img class="example-image" src="{{ glide:url width="250" height="250" }}" alt="" />
				</a>
			{{ /assets:myimages }}
		</div>
	</div>
</section>-->





<section class="regular">
	<div class="container-fluid centered">
		<div class="row">
		    <div class="card-deck">
				{{ collection:things }}
			        <div class="card">
						<a class="example-image-link" href="{{ photo }}" width="552" height="552" fit="crop" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard.">
					    	<img class="example-image card-img-top" src="{{ photo }}" width="250" height="250" fit="crop" alt="Card image cap" />
						</a>
				        <div class="card-block">
				            <h5 class="orange bold card-title">{{ title }}</h5>
				            <p class="card-text">{{ blurb }}</p>
							<a href="{{ link }}"><span class="dgreen">More Pictures</span></a>
				        </div>
			        </div>
			    {{ /collection:things }}
		    </div>
		</div>
	</div>
</section>

<!--<section class="regular">
	<div class="container-fluid centered">
	<header>
		<h1>{{ title }}</h1>
		{{ content_raw wrap="h2" }}
	</header>

    <div class="col">
        {{ collection:things }}
			<a class="example-image-link" href="{{ photo }}" width="552" height="552" fit="crop" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard.">-->
				<!--<img class="example-image" src="{{ photo }}" width="250" height="250" alt="" /><h3 class="caption">{{ title }}</h3><figcaption class="figure-caption">{{ blurb }}</figcaption></a>-->
				<!--<img class="example-image" src="{{ photo }}" width="250" height="250" alt="" /><span class="caption">{{ blurb }}</span> </a>

      {{ /collection:things }}
    </div>
</div>
</section>-->

     <!-- <div class="card">
        <img class="card-img-top" src="//placehold.it/720x350" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="//placehold.it/720x350" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
	  <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="//placehold.it/720x350" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="//placehold.it/720x350" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="//placehold.it/720x350" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>-->
