

/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

@media (max-width: 991px) {

    .slide-text h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .slide-text > p {

        font-size: 18px;
    }
}


/*---------- MEDIA 480px ----------*/
@media  (max-width: 768px) {

    .slide-text {
        padding: 10px 50px;
    }
    .slide-text h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .slide-text > p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .control-round .carousel-control{
        display: none;
    }

}
@media (min-width: 768px) {
    #full-screen-parent-simple-indicators {
        height: 500px;
    }
}
@media  (max-width: 480px) {
    #full-screen-parent-simple-indicators {
        height: 170px;
    }
    .bs4-indicators-simple .carousel-indicators.carousel-indicators-bottom-center {
        bottom: 0px;
    }
    .slide-text {
        padding: 10px 30px;
    }
    .slide-text h1 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .slide-text > p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .slide-text > a.btn-default,
    .slide-text > a.btn-primary {
        font-size: 10px;
        line-height: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 10px 15px;
    }
    .indicators-line > .carousel-indicators{
        display: none;
    }

}

.carousel {
    position: relative;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;


}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 0px;
    list-style: none;
}
.carousel-indicators li {
    background-color: #dfef90;
}
.carousel-inner {
    position: relative;
    overflow: hidden;
}
/* Make the image fully responsive */
 .carousel-inner img {
     width: 100%;
     /*height: 100%;*/
     max-height: 110px;
 }
.bs4-carousel {
    background-color: #000;
}
.carousel-control-ip.carousel-control-x.carousel-control-prev {
    margin: auto auto auto 0;
}
.example-image-link {
  display: inline-block;
  padding: 4px;
  margin: 0 0.5rem 1rem 0.5rem;
  background-color: var(--bg-color);
  line-height: 0;
  border-radius: var(--border-radius-large);
}
.example-image-link:hover {
  background-color: var(--primary-color);
}
.carousel-control-ip {
    opacity: 1;
}
.carousel-control-ip.carousel-control-next.carousel-control-next {
    margin: auto 0 auto auto;
}
.lb-caption, .lb-data .lb-number {
    color: #cccccc;
}
/*.fas.fa-angle-right {
    /*background: url(/assets/img/logosandmisc/next.png);*/
    /*background: url(/assets/img/logosandmisc/f104-white-prev.svg);
    background-repeat: no-repeat;
}*/
 /* .example-image {
width: 7rem;
  border-radius: var(--border-radius);
}*/
/*#myCarousel .carousel-indicators {
   position: static;
   margin-top:20px;
}

#myCarousel .carousel-indicators > li {
 width:200px;
}

#myCarousel .carousel-indicators li img {
   display: block;
   opacity: 0.5;
}

 #myCarousel .carousel-indicators li.active img {
   opacity: 1;
 }

 #myCarousel .carousel-indicators li:hover img {
   opacity: 0.75;
 }
*/


 /*a pen by Pete peter benoit */
/*.carousel-thumbnails .carousel-indicators img {
    max-width: 100px;
    height: 50px;
    overflow: hidden;
    display: block;
}
.carousel-thumbnails .carousel-indicators li {
    height: auto;
    max-width: 100px;
    width: 100px;
    border: none;
	box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);

	&.active {
		border-bottom: 4px solid #fff;
	}
}
#carousel-thumb .carousel-caption {
    left: unset;
    bottom: 4rem;

    h3 {
        margin-bottom: 2rem;
    }
}
#carousel-thumb .carousel-indicators {
    background-color: #fff;
    padding: 1rem 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0;
    margin-left: 0;
    justify-content: unset;
}
#carousel-thumb .carousel-item, .carousel-item.active {
    max-width: 1000px;
    max-height: 507px;
}*/
 /* end of a pen by Pete peter benoit */
/*http://jsfiddle.net/6ahgrpqt/*/

/*.flex-control-thumbs {
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  display:flex;
  flex-wrap:nowrap;

  border: 1px solid red;
  overflow-x:auto;
  padding-bottom:30px;
}

.flex-control-thumbs li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;

}


.flex-control-thumbs li,
.flex-control-thumbs li:first-child {
  width: 16%;
  vertical-align: top;
  margin: 15px 5% 0 0;
  min-width:100px;
}

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

.flex-control-thumbs img:hover {
  opacity: 0.5;
}

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

.product_slider .flex-active-slide a:hover {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}*/
/* end of http://jsfiddle.net/6ahgrpqt/ */


/* css for product-slider-with-thumbnail-slider */
/* CSS used here will be applied after bootstrap.css */
/*.carousel {
    margin-top: 20px;
}
.item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
.item .thumb img {
	width: 100%;
	margin: 2px;
}
.item img {
	width: 100%;
}*/
/* end of product slider with thumbnail slider */

/* bootstrap-4-responsive-carousel-skelly*/
/*@media (max-width: 768px) {
    #recipeCarousel.carousel-inner .carousel-item > div {
        display: none;
    }
    #recipeCarousel.carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

#recipeCarousel.carousel-inner .carousel-item.active,
#recipeCarousel.carousel-inner .carousel-item-next,
#recipeCarousel.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium - display 4  */
/*@media (min-width: 768px) {

    #recipeCarousel.carousel-inner .carousel-item-right.active,
    #recipeCarousel.carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }

    #recipeCarousel.carousel-inner .carousel-item-left.active,
    #recipeCarousel.carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

/* large - display 6 */
/*@media (min-width: 992px) {

    #recipeCarousel.carousel-inner .carousel-item-right.active,
    #recipeCarousel.carousel-inner .carousel-item-next {
      transform: translateX(16.666%);
    }

    #recipeCarousel.carousel-inner .carousel-item-left.active,
    #recipeCarousel.carousel-inner .carousel-item-prev {
      transform: translateX(-16.666%);
    }
}

#recipeCarousel.carousel-inner .carousel-item-right,
#recipeCarousel.carousel-inner .carousel-item-left{
  transform: translateX(0);
}


/* end of bootstrap-4-responsive-carousel-skelly*/
