<section class="regular">



	<article class="content">
		{{ partial:home-page-slider }}
	</article>

</section>




<section class="regular">
	<div class="container-fluid centered">
		<div class="row">
			<div class="card-deck">
				{{ collection:home-4-up }}
					<div id="mywidth" class="card mx-auto">
						<a class="example-image-link" href="{{ photo }}" width="552" height="552" fit="crop" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard.">
							<img class="example-image card-img-top" src="{{ glide:photo q="75" fm="jpg" }}" fit="crop" alt="Card image cap" />
						</a>
						<div class="card-block">
							<h5 class="dgreen bold card-title">{{ title }}</h5>
							<p class="card-text">{{ blurb }}</p>
							<a href="{{ link }}"><span class="dgreen">More Info</span></a>
						</div>
					</div>
				{{ /collection:home-4-up }}
			</div>
		</div>
	</div>
</section>
